-# path = @plugin_instance.persisted? ? server_plugin_instance_path([@server, @plugin_instance]) : server_plugin_instances_path(@server)
= simple_form_for([@server, @plugin_instance]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :type, collection: @plugins.collect{|p| [p.name, p.class_name]}
    = f.association :app, collection: @apps

  .form-actions
    = f.button :submit
