.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Name
        %th Type
        - if defined? host_scope
          %th Linked App
        %th

    %tbody
      - instances.each do |instance|
        %tr
          %td= instance.name
          %td= instance.type
          - if defined? host_scope
            %td
              = link_to instance.app.name, instance.app if instance.app
            %td= link_to 'Destroy', host_plugin_instance_path(host_id: @host.id, id: instance.id), data: { confirm: 'Are you sure?' }, method: :delete
          - else
            %td= link_to 'Destroy', host_plugin_instance_path(host_id: @app.host_id, id: instance.id), data: { confirm: 'Are you sure?' }, method: :delete
