%tr{id: dom_id(instance)}
  %td= instance.name
  %td= instance.type
  %td
    = instance.status.humanize
    - if instance.waiting?
      %i.fa.fa-spinner
  - if server_scope
    %td
      = link_to instance.app.name, [instance.app.server, instance.app] if instance.app
    %td= link_to 'Destroy', server_plugin_instance_path(server_id: server.id, id: instance.id), data: { confirm: 'Are you sure?' }, method: :delete
  - else
    %td= link_to 'Destroy', server_plugin_instance_path(server_id: app.server_id, id: instance.id), data: { confirm: 'Are you sure?' }, method: :delete
