- content_for :header_title do
  Host List
- content_for :header_subtitle do
  You can manage your hosts in here
- content_for :header_actions do
  = link_to new_host_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Host

.row
  - @hosts.each do |host|
    .col-md-3
      .info-box
        = link_to host_path(host) do
          %span.info-box-icon.bg-aqua
            %i.fa.fa-server
        .info-box-content
          .info-box-text
            = link_to host.name, host_path(host)
          .info-box-number
            = host.addr
            %br
            %span.pull-right
              %i.fa.fa-rocket
              = host.apps.count
              &nbsp;apps

