- content_for :header_title do
  Host: #{@host.name}
- content_for :header_actions do
  = link_to hosts_path, class: 'btn btn-primary' do
    %span.fa.fa-arrow-left
    Back
  = link_to sync_host_path(@host), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-refresh
    Sync Host
  = link_to edit_host_path(@host), class: 'btn btn-primary' do
    %span.fa.fa-pencil
    Edit

.box
  .box-body
    %dl.dl-horizontal
      %dt Name:
      %dd= @host.name
      %dt Addr:
      %dd= @host.addr
      %dt Public key:
      %dd= @host.public_key

    %h2 Application List
    = render 'apps/app_table', apps: @host.apps

    %h2 Plugin List
    = render 'plugins/plugin_table', plugins: @plugins, host: @host

    %h2 Plugin Instances

    = render 'plugin_instances/plugin_instance_table', instances: @host.plugin_instances, host_scope: true
    = link_to new_host_plugin_instance_path(@host.id), class: 'btn btn-primary' do
      %span.glyphicon.glyphicon-plus
      Add New Instance