.page-header
  = link_to hosts_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_host_path(@host), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  = link_to sync_host_path(@host), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-refresh
    Sync Host
  %h1 Show host

%dl.dl-horizontal
  %dt Name:
  %dd= @host.name
  %dt Addr:
  %dd= @host.addr
  %dt Public key:
  %dd= @host.public_key

%h2 Application List
= render 'apps/app_table', apps: @host.apps

%h2 Plugin List
= render 'plugins/plugin_table', plugins: @plugins, host: @host

%h2 Plugin Instances

= render 'plugin_instances/plugin_instance_table', instances: @host.plugin_instances, host_scope: true
= link_to new_host_plugin_instance_path(@host.id), class: 'btn btn-primary' do
  %span.glyphicon.glyphicon-plus
  Add New Instance