.box
  .box-body
    = simple_form_for(@server) do |f|
      = f.error_notification

      .form-inputs
        = f.input :name
        = f.input :addr
        = f.input :username
        = f.input :private_key#, input_html: {value: @server.private_key.gsub(/\n/, '\n') }
        = f.input :public_key
        = f.input :generate_keys, as: :boolean, hint: "It generates private/public keys if its checked. You need to add generated public key to your server's authorized_keys file"

      .form-actions
        = f.button :submit
