.box
  .box-body
    = simple_form_for(@server) do |f|
      = f.error_notification

      .form-inputs
        = f.input :name
        = f.input :endpoint, label: "API Endpoint"
        = f.input :api_key
        = f.input :api_secret

      .form-actions
        = f.button :submit
