- content_for :header_title do
  Server List
- content_for :header_subtitle do
  You can manage your servers in here
- content_for :header_actions do
  = link_to new_server_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    New Server

.row
  - @servers.each do |server|
    .col-md-3
      .info-box
        = link_to server_path(server) do
          %span.info-box-icon.bg-aqua
            %i.fa.fa-server
        .info-box-content
          .info-box-text
            = link_to server.name, server_path(server)
          .info-box-number
            = server.addr
            %br
            %span.pull-right
              %i.fa.fa-rocket
              = server.apps.count
              &nbsp;apps

