.page-header
  = link_to apps_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_app_path(@app), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Application Details

%dl.dl-horizontal
  %dt Name:
  %dd= @app.name
  %dt Url:
  %dd= @app.url
  %dt Host:
  %dd= @app.host

%h2 Environment Variables

= render 'app_configs/config_table', configs: @app.app_configs