.page-header
  = link_to apps_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  = link_to edit_app_path(@app), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Application Details

.row
  .col-md-8
    %dl.dl-horizontal
      %dt Name:
      %dd= @app.name
      %dt Url:
      %dd= @app.url
      %dt Host:
      %dd= @app.host
  .col-md-4
    %h3 Process List
    %dl.dl-horizontal
      - @app.scale.each do |k,v|
        %dt.text-left= k
        %dd= v


%h2 Environment Variables

= render 'app_configs/config_table', configs: @app.app_configs

%h2 Linked Plugins

= render 'plugin_instances/plugin_instance_table', instances: @app.plugin_instances

= link_to new_host_plugin_instance_path(@app.host_id), class: 'btn btn-primary' do
  %span.glyphicon.glyphicon-plus
  Add New