- content_for :header_title do
  Application: #{@app.name}
- content_for :header_actions do
  = link_to apps_path, class: 'btn btn-default' do
    %span.fa.fa-arrow-left
    Back
  = link_to sync_app_path(sync_method: "pull"), class: 'btn btn-success' do
    %span.fa.fa-arrow-down
    Sync(Pull)
  = link_to sync_app_path(sync_method: "push"), class: 'btn btn-warning', data: {confirm: "It will owerrite everything on remote host. Are you sure?"} do
    %span.fa.fa-arrow-up
    Sync(Push)

  = link_to edit_app_path(@app), class: 'btn btn-primary' do
    %span.fa.fa-pencil
    Edit


.box
  .box-body
    .row
      .col-md-8
        %dl.dl-horizontal
          %dt Name:
          %dd= @app.name
          %dt Url:
          %dd= @app.url
          %dt Host:
          %dd= @app.host

        .box
          .box-header
            %h3.box-title Deployment
          .box-body
            git remote add dokku dokku@#{@app.host.addr}:#{@app.name}
            %br
            git push dokku master


      .col-md-4
        %h3 Process List
        %dl.dl-horizontal
          - @app.scale.each do |k,v|
            %dt.text-left= k
            %dd= v


    %h2 Environment Variables

    = render 'app_configs/config_table', configs: @app.app_configs

    %h2 Linked Plugins

    = render 'plugin_instances/plugin_instance_table', instances: @app.plugin_instances

    = link_to new_host_plugin_instance_path(@app.host_id), class: 'btn btn-primary' do
      %span.glyphicon.glyphicon-plus
      Add New