!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
    %meta{content: "", name: "description"}
    %meta{content: "", name: "author"}
    %title Dokku Manager

    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lt IE 9]
      = javascript_include_tag "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js", "https://oss.maxcdn.com/respond/1.4.2/respond.min.js"

    :javascript
      controller_name = "#{controller_name}"
      gon = {}
    = include_gon
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag controller_name, 'data-turbolinks-track' => false

    = csrf_meta_tags
  %body.skin-red-light.sidebar-mini
    .wrapper
      = render 'layouts/header'
      = render 'layouts/sidebar'
      .content-wrapper
        %section.content-header
          %h1
            = yield :header_title
            - if content_for? :header_subtitle
              %small= yield :header_subtitle
          - if content_for? :header_actions
            .pull-right.header-actions
              = yield :header_actions
            .clearfix
        %section.content
          = render 'layouts/flashes'
          = yield
      = render 'layouts/footer'
